body {
	font-weight: 300;
}

sup {
	top: -0.25em;
}


.page-heading {
	font-size: 48px;
}


.breadcrumb {
	color: $breadcrumb-color;
	font-weight: 300;
}

.section-headline {
	font-size: 21px;
	font-weight: 300;
	color: $text-dark;
}